<script>
    var run = "{{ run }}"
</script>



<!-- Tasks -->
<div class="row col-md-8 col-lg-8">
    <h4>Tasks</h4>
    <hr />
</div>
<div class="row col-md-8 col-lg-8" id="dashboard.tasks"></div>

<!-- Logs-->
<div class="row col-md-8 col-lg-8">
    <h4>Logs</h4>
    <hr />
</div>
<div class="row col-md-8 col-lg-8" id="dashboard.logs"></div>


<link rel="stylesheet" href="http://css-spinners.com/css/spinner/three-quarters.css" type="text/css">

<!-- React -->
<script src="/react/JSXTransformer.js"></script>
<script src="/react/react-with-addons.js"></script>

<!-- React components -->
<script type="text/jsx" src="/react-components/Logs.js"></script>

<!-- Dashboard controller -->
<script type="text/jsx" src="/components/logs.js"></script>
<script type="text/jsx" src="/components/tasks.js"></script>