
<link rel="stylesheet" href="/css/dashboard.css" />

<div class="mdl-grid" id="dashboard">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="dashboard.runs"></div>
</div>

<!-- React -->
<script src="/react/JSXTransformer.js"></script>
<script src="/react/react-with-addons.js"></script>

<!-- React components -->
<script type="text/jsx" src="/react-components/Runs.js"></script>

<!-- Components -->
<script type="text/jsx" src="/components/runs.js"></script>