<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Babylog</title>

    <!-- Vendor - bootstrap-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-darkly-theme.min.css">
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- custom css-->
    <link rel="stylesheet" href="/css/base.css">

    <!--Config-->
    <script type="text/javascript">
        var host = "{{host}}";
    </script>

    <script src="/socket.io/socket.io.js"></script>

    <!-- Queue -->
    <script type="text/javascript" src="/lib/queue.js"></script>

    <!-- App Bootstrap -->
    <script type="text/javascript" src="/bootstrap.js"></script>





</head>
<body>
    <div class="container-fluid">

        <div class="row hidden-md hidden-lg">

            <div class="col-xs-12 col-sm-12" style="background-color:green; height:100px">
                test on small
            </div>

        </div>

        <div class="row hidden-xs hidden-sm col-md-12 col-lg-12" style="height: 50px">

        </div>

        <div class="row col-md-offset-1 col-md-12">

            <!-- side nav-->
            <div class="col-md-2">

                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control input-search" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-input-embedded">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="row top10px">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="/dashboard"> Runs </a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-md-10" >
                {{{ body }}}
            </div>
        </div>
    </div>
</body>
</html>