<script>
    var taskId = "{{ taskId }}"
</script>

<div class="row col-md-8 col-lg-8" id="dashboard"></div>

<!-- React -->
<script src="/react/JSXTransformer.js"></script>
<script src="/react/react-with-addons.js"></script>

<!-- React components -->
<script type="text/jsx" src="/react-components/Logs.js"></script>

<!-- Dashboard controller -->
<script type="text/jsx" src="/components/tasklog.js"></script>